<template name="postsList">
    <div class="posts">
        {{#each postsWithRank}}
            {{> postItem}}
        {{/each}}

        {{#if nextPath}}
              <a class="load-more" href="{{nextPath}}">Load more</a>
        {{/if}}
    </div>
</template>