<template name="postItem">
    <div class="post">
        <a href="#" class="upvote btn {{upvotedClass}}">⬆</a>
        <div class="post-content">
            <H3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></H3>
            <p>
                {{pluralize votes "Vote"}},
                submitted by {{author}},
                <a href="{{pathFor 'postPage'}}">{{commentCount}} comments</a>
                {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
            </p>
        </div>
        {{#if showDiscussBtn}}
            <a href="{{pathFor 'postPage'}}" class="discuss btn">Discuss</a>
        {{/if}}
    </div>
</template>