<template name="meteorErrors">
    <div class="errors row-fluid">
        {{#each errors}}
            {{> meteorError}}
        {{/each}}
    </div>
</template>

<template name="meteorError">
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
</template>